* {
    margin: auto;
    color: rgb(5, 227, 83);
    /* background-image: url(../img/133843626129351005.jpg);
    background-repeat: no-repeat;*/
}

/*Estilos para el titulo*/
.encabezado {
    background: rgb(246, 11, 11);
    border: 5px solid rgb(86, 7, 232);
    width: 700px;
    height: 50px;
    padding: 20px 50px 20px 50px;
    margin: 100px 20px 50px 30px;
    box-shadow: 10px 10px 5px rgb(255, 164, 214);

}
.contenedor1{
    width:200px;
    border: 5px solid rgb(9, 1, 23);
    position: relative;
    top: 100px;
    left: 200px;
}
.contenedor{
    width: 90%;
    border: 5px solid rgb(9, 1, 23);
}
.tabla{
    border-collapse: collapse;
    width: 100%;

}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th{
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    
}
tr:nth-child(even){
    background-color: #32086e;
}
tr:hover{
    background-color: #6a950e;
}
a{
    text-decoration: none;
    color: #6a950e;
    font-size: 50px;
}
a:hover{
    color: rgb(76, 14, 190);
}
a:visited{
    color: rgb(255, 0, 0);
}