form{
    max-width: 400px;
    /*centramos el formulario*/
    margin: 0 auto; 
    padding: 20px;
    background-color: antiquewhite;
    border: 1px solid #ccc;
}
form label{
    /*background-color: aqua;*/
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #e97272;
    border-radius: 4px; 
    box-sizing: border-box;/*para que el padding no afecte el ancho total*/
}
form input[type="submit"]{/*para buscar un botton de tipo submit*/
    background-color: #4CAF50;/*Le da color al cuadro donde va el tecto*/
    color: white;/*Le da color al texto*/
    padding: 10px 15px;/*Espacio interno*/
    border: none;/*Quita el borde por defecto*/
    border-radius: 4px;/*Bordes redondeados*/
    cursor: pointer;/*Cambia el cursor al pasar por encima*/
}
